<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="row">
	    <div class="span12">
			<div class="well">
				
			  	<h5>Update!</h5>
			  	<h5>We now optimized for...</h5>
			  	<h3>STALKING! :)</h3>
			  	<h5>Click the users tab to find out more.</h5>
			  	
			  	
			</div>
		</div>
	</div>
   
  </aside>
</div>