<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="row">
	    <div class="span12">
			<div class="well">
				
			  	<h5>Fearless Leaders,</h5>
			  	<p>It has been decided to give you the freedom to sign in and sign out. 
			  	Any attempts at disrupting the order of things will be handled appropriately.</p>
			  	<h6>Use this newfound freedom wisely!</h6>
			</div>
		</div>
	</div>
   
  </aside>
</div>